In [ ]:
import altair as alt
import pandas as pd
from tqdm import tqdm

In [2]:
path = "data\\simulated_container_stays.csv"
data = pd.read_csv(path, parse_dates=["Inbound Date Time", "Outbound Date Time", "Date Time of Movement"])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249467 entries, 0 to 249466
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Container Plate             249467 non-null  object
 1   Stay Id                     249467 non-null  object
 2   Inbound Date Time           249467 non-null  datetime64[ns]
 3   Outbound Date Time          249467 non-null  datetime64[ns]
 4   Inbound Mean of Transport   249467 non-null  object
 5   Outbound Mean of Transport  249467 non-null  object
 6   ISO Type                    249467 non-null  object
 7   Document Type               249467 non-null  object
 8   Date Time of Movement       249467 non-null  datetime64[ns]
 9   Container Action            249467 non-null  object
 10  Full Container?             249467 non-null  bool
 11  Gross Weight                249467 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(1), object(7)
memory usage: 21.2+ MB

In [ ]:
aux_data = data[["Stay Id", "Inbound Date Time", "Outbound Date Time"]].drop_duplicates()

values = []
for _, row in aux_data.iterrows():
    values.append({"Stay Id": row["Stay Id"], "In/Out": "In", "Date": row["Inbound Date Time"]})
    values.append({"Stay Id": row["Stay Id"], "In/Out": "Out", "Date": row["Outbound Date Time"]})

cont_throughput = pd.DataFrame(values)
cont_throughput = cont_throughput.sort_values(by=["Date"])
cont_throughput.to_csv("data\\container_throughput.csv", index=False)
cont_throughput.head(10)

                                     Stay Id In/Out                Date
217516  USA7OPCDDXPQ46GR58QN0A45ADXY8YBDJBRF     In 2021-11-01 00:17:54
230002  7H9EDNU81PC08SJRY4QJDRQYL4FFGKE4YQXY     In 2021-11-01 00:20:44
48672   3753HW598Q9DVIAJGBLDKTJRC02NO360RB5P     In 2021-11-01 00:38:50
96024   1VMGONZ1ZVOK579DDROS1J5FNK550C5E1R7P     In 2021-11-01 00:44:12
168020  PFPEIMY5COT7A489XXAK53GCR1QPJR68K9F3     In 2021-11-01 00:48:27
102944  ZSVPOR94SA36L1U9OVM9B3KAHQ1WD2RKC6EI     In 2021-11-01 01:02:28
102396  EDYGC23WJAFFHQR1I5A4YHKR5JI78N0Y3QAW     In 2021-11-01 01:04:52
92128   FYLNK5RU99BG4A8DUYIW1ZENULWRIVI1OTA6     In 2021-11-01 01:09:14
235650  LEAPNNC7A77LP2664UDMHRN4IFP65DNAOMYJ     In 2021-11-01 01:17:52
133604  6M5VNLJNOGI0CKT0SSN0A9DQKJC661XUUGEJ     In 2021-11-01 01:25:19

In [6]:
alt.Chart(cont_throughput).mark_line().encode(
    x="Date:T",
    y="count()",
    color="In/Out"
).properties(
    width=800,
    height=400
)

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000).

Try enabling the VegaFusion data transformer which raises this limit by pre-evaluating data
transformations in Python.
    >> import altair as alt
    >> alt.data_transformers.enable("vegafusion")

Or, see https://altair-viz.github.io/user_guide/large_datasets.html for additional information
on how to plot large datasets.

alt.Chart(...)